@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

html, body {
    overflow-x: hidden;
}
body{
    font-family: 'Public Sans', sans-serif !important;
    background: #000000 !important;
    color: #ffffff !important;
}

ul{
    list-style: none;
}
#gap{
    padding-left: 50px;
    padding-right: 50px;
}

p{
    font-size: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #gap{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1080px) {
    #gap{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.nav-link{
    color: #04ff00 !important;
}
.nav-tabs .nav-link.active{
    background-color: #000000 !important;
}