#hero_section {
    margin-top: 150px;
}

#hero_first_title{
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
}
#hero_first_title mark {
    color: #000000;
    font-weight: 800;
    background-color: #04ff00;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#hero_second_title {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
} 
#hero_third_title {
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
}
#hero_section img {
    width: 100%;
}

#second_section{
    margin-top: 100px;
}
.roundImg {
    padding: 15px;
    border: 1px solid #ffffff;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roundImg img{
    height: 150px !important;
    width: 150px !important;
    animation: portfolio_text 6s infinite linear;
}
#arrowIcon {
    font-size: 30px;
    color: #04ff00;
}

#second_section h2 {
    color: #04ff00;
    font-weight: 800;
    font-size: 60px;
}


#third_section {
    position: relative;
    margin-top: 50px;
}
.aboutHead {
    font-weight: 800;
}
#third_section h2{
    font-size: 60px;
    color: #ffffff;
}
.thirdLink{
    position: absolute;
    bottom: 0;
    right: 0;
}
.thirdLink a{
    text-decoration: none;
    color: #ffffff;
}
.thirdLink a:hover{
    color: #04ff00;
}
#price_section_contact {
    text-decoration: none;
    color: #04ff00;
}

#portfolio_section{
    margin-top: 50px;
}
#portfolio_section h2{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}
#portfolio_section img {
    border-radius: 15px;
}
#portfolio_section #portfoli_btn{
    border: 1px solid #04ff00;
    color: #04ff00;
}

#price_section {
    margin-top: 50px;
}
#priceDiv {
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 15px;
}
#priceTitle{
    font-size: 60px;
    color: #ffffff;
}
#priceDiv:hover {
    border: 2px solid #04ff00;
}
#priceDiv h2 span{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}
#priceDiv ul {
    padding-left: 0;
}
#priceDiv li {
    padding: 10px 0;
}
#priceDiv a{
    width: 100%;
    border: 1px solid #04ff00;
    font-size: 18px;
    color: #ffffff;
}
#priceDiv a:hover{
    background-color: #04ff00;
    color: #000000;
}

#brand_section {
    margin-top: 50px;
}
#brand_section h2{
    font-size: 50px;
    color: #ffffff;
}
#brand_section h2 span {
    font-weight: 800;
    color: #04ff00;
    font-size: 80px;
}
#brand_section img {
    height: auto !important;
    width: 70% !important;
}

@keyframes portfolio_text {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #hero_section {
        margin-top: 100px;
    }
    #hero_first_title {
        font-size: 50px;
    }
    #hero_second_title {
        font-size: 50px;
    }
    #hero_third_title {
        font-size: 50px;
    }
    #hero_first_title mark {
        line-height: 1.5;
    }
    #strategyText {
        display: none;
    }
    #third_section h2{
        font-size: 40px;
    }
    .thirdLink {
        bottom: -50px;
    }
    #portfolio_section {
        margin-top: 100px;
    }
    #portfolio_section h2 {
        font-size: 40px;
    }
    #priceTitle{
        font-size: 40px;
    }
    #brand_section img {
        height: auto !important;
        width: 50% !important;
    }
    #brand_section h2 {
        font-size: 40px;
    }
    #brand_section h2 span {
        font-size: 60px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    #strategyText {
        display: none;
    }
    .thirdLink {
        bottom: -50px;
    }
    #brand_section img {
        height: auto !important;
        width: 100% !important;
    }
    #portfolio_section {
        margin-top: 80px;
    }
    #portfolio_section h2 {
        font-size: 50px;
    }
    #priceTitle{
        font-size: 50px;
    }
}
